PORT=4000
DATABASE_URL="postgresql://parcapazari:parcapazar_dev_password@parcapazar-db.cj2kk8246sh8.eu-central-1.rds.amazonaws.com:5432/parcapazari_dev?schema=public"
AWS_REGION=eu-central-1
S3_BUCKET=parcapazar-part-images-3d3954bd
AWS_ACCESS_KEY_ID=AKIAZVWHDNWECUW4DN3E
AWS_SECRET_ACCESS_KEY=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